# Virtual environments
venv/
env/
ENV/
.venv/
.env

# Ignore all files in .streamlit folder
.streamlit/*

# Unignore config.toml so it gets committed
!.streamlit/config.toml

# Still ignore secrets.toml
.streamlit/secrets.toml

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Vector database files
vector_db/
*.bin